---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>East China Normal University</h2>

{% assign ecnu_teaching = site.teaching | where: "venue", "East China Normal University" %}
{% for post in ecnu_teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Wuhan University / Central China Normal University</h2>

{% assign other_teaching = site.teaching | where: "venue", "Wuhan University / Central China Normal University" %}
{% for post in other_teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
