---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

## East China Normal University

{% assign ecnu_teaching = site.teaching | where: "venue", "East China Normal University" %}
{% for post in ecnu_teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

## Wuhan University

{% assign wuhan_teaching = site.teaching | where: "venue", "Wuhan University" %}
{% for post in wuhan_teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

## Huazhong Normal University

{% assign huazhong_teaching = site.teaching | where: "venue", "Huazhong Normal University" %}
{% for post in huazhong_teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
