{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </h3>
    
    {% if post.organization %}
      <p class="service-organization"><i>{{ post.organization }}</i></p>
    {% endif %}
    
    {% if post.role %}
      <p class="service-role"><strong>Role:</strong> {{ post.role }}</p>
    {% endif %}
    
    {% if post.period %}
      <p class="service-period"><strong>Period:</strong> {{ post.period }}</p>
    {% elsif post.date %}
      <p class="service-period"><strong>Period:</strong> {{ post.date | date: "%Y" }}
      {% if post.enddate %}
        {% if post.enddate == "Present" or post.enddate == "present" %}
          - Present
        {% else %}
          - {{ post.enddate | date: "%Y" }}
        {% endif %}
      {% endif %}
      </p>
    {% endif %}
    
    {% if post.description %}
      <p class="service-description">{{ post.description }}</p>
    {% endif %}

  </article>
</div>
